.footer {
  display: flex;
  padding: 10px;
  background-color: purple;
  border-top: 1px solid rgb(224, 0, 224);
  justify-content: flex-end;
  align-items: center;
  height: 6rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-right: 4rem;
}

.footer a:not(:last-child) {
  margin-right: 4rem;
}

.footer a:hover {
  text-decoration: underline;
}
